.page {

}

.page-section {
  padding-top: rem(50);
  padding-bottom: rem(100);
}

.page-header {
  margin-bottom: rem(20);
}

.page-title {
  margin: 0;
  font-size: rem(26);
  font-weight: 600;
}
