.shopping-cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: rem(30);
  font-family: $altFontFamily;
  cursor: default;

  td:first-child {
    // width: 50%;
  }

  th,
  td {
    padding: rem(10);
    vertical-align: middle;
  }

  thead {
    background-color: $bgColor;
    font-size: rem(12);

    th,
    td {
      text-align: left;
      font-weight: normal;

    }

  }

  tbody {
    tr {
      & + tr {
        td {
          border-top: 2px solid $bgColor;
        }
      }
    }
    td {
    }
  }

  tfoot {
    th,
    td {
      padding-top: rem(5);
      padding-bottom: rem(5);
    }
  }

  @include mq($from: md) {

    th,
    td {
      padding: rem(15);
    }
  }

}
